{% extends 'layout.twig' %}

{% block title %}NotFound - {{ parent() }} {% endblock %}

{% block body %}
<!-- Section 404-->
<div class="jumbotron mt-5">
    <div class="container-fluid"> 
        <h1 class="display-1 text-center mb-5 text-info">Il n'y a rien à voir ici</h1>     
        <p class="text-center"><a class="btn btn-primary btn-lg mt-5" href="index.php?page=home" role="button">&laquo; Retour</a></p>
    </div>
</div>
<!-- Section 404-End -->
{% endblock%}